<ion-content>
  <ion-card>
    <ion-card-title class="title"
      >Lençóis Paulista
      <ion-icon name="sunny-outline"></ion-icon>
      33ºC
    </ion-card-title>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>05/08</ion-label>
          <ion-label>
            <ion-chip color="secondary"
              >18º/30º</ion-chip
            ></ion-label
          >
          <ion-icon slot="end" name="sunny-outline"></ion-icon>
          Ensolarado
        </ion-item>
        <ion-item>
          <ion-label>06/08</ion-label>
          <ion-label>
            <ion-chip color="secondary"
              >15º/29º</ion-chip
            ></ion-label
          >
          <ion-icon slot="end" name="sunny-outline"></ion-icon>
          Ensolarado
        </ion-item>
        <ion-item>
          <ion-label>07/08</ion-label>
          <ion-label> <ion-chip color="secondary" >14º/26º</ion-chip></ion-label>
          <ion-icon slot="end" name="sunny-outline"></ion-icon>
          Ensolarado
        </ion-item>
        <ion-item>
          <ion-label>08/08</ion-label>
          <ion-label> <ion-chip color="secondary">15º/24º</ion-chip></ion-label>
          <ion-icon slot="end" name="sunny-outline"></ion-icon>
          Ensolarado
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
